.rn-before-after-slider-tab {
  padding: 40px 0;
  background-color: #F0F7FF;

  @include lg-up {
    padding: 100px 0 40px;
  }

  &__content {
    max-width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 22px;

    @include lg-up {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;
      margin-bottom: 35px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
    text-align: left;
    margin: 0;
    color: #000;

    @include md-up {
      font-size: 32px;
    }

    @include lg-up {
      font-size: 40px;
      max-width: 525px;
      flex-shrink: 0;
    }
  }

  &__tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include lg-up {
      gap: 30px;
      align-items: flex-end;
    }
  }

  &__gender-tabs {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    @include lg-up {
      gap: 12px;
    }
    @include sm {
      display: grid;
        grid-template-columns: repeat(2, auto);
    }
  }

  &__gender-tab {
    padding: 10px 28px;
    border: 2px solid #241EC6;
    border-radius: 50px;
    color: #241EC6;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;

    @include md-up {
      padding: 12px 36px;
      font-size: 15px;
      min-width: 18.2rem;
    }

    @include lg-up {
      padding: 7px 36px;
      font-size: 24px;
      min-width: 19.75rem;
    }

    &:hover {
      background-color: #241EC6;
      color: #fff;
    }

    &.active {
      background-color: #241EC6;
      color: #fff;
    }
  }

  &__type-tabs {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    @include lg-up {
      gap: 10px;
    }
    @include sm {
      display: grid;
      grid-template-columns: repeat(3, auto);
    }
  }

  &__type-tab {
    padding: 8px 18px;
    border: 1px solid #FFBD86;
    font-weight: bold;
    border-radius: 50px;
    color: var(--Secondary-2);
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;

    @include md-up {
      padding: 9px 20px;
      font-size: 13px;
    }

    @include lg-up {
      padding: 10px 22px;
      font-size: 14px;
    }

    &:hover {
      background-color: #FFB88C;
      color: #000;
      border-color: #FFB88C;
    }

    &.active {
      background-color: #FFB88C;
      color: var(--Secondary-2);
      border-color: #FFB88C;
    }
  }

  &__sliders-wrapper {
    position: relative;
    margin-bottom: 30px;

    @include md-up {
      margin-bottom: 30px;
    }
  }

  &__panel {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.active {
      display: block;
      opacity: 1;
    }

    .embla__viewport {
      overflow: hidden;
      aspect-ratio: 686.4 / 547.11;
       @include md-up {
        aspect-ratio: 916.8 / 360.7;
      }
      @include lg-up{
        aspect-ratio: 1283 / 429;
      }
             
    }

    .embla__container {
      display: flex;
      gap: 15px;

      @include md-up {
        gap: 20px;
      }

      @include lg-up {
        gap: 30px;
      }
    }

    .embla__buttons {
      display: flex;
      justify-content: flex-start;
      gap: 12px;
      margin-top: 20px;

      @include md-up {
        margin-top: 40px;
      }

      @include lg-up {
        gap: 15px;
        margin-top: 50px;
      }
    }
  }

  &__slide-item {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    @include lg-up {
      border-radius: 16px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__cta {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    @include md-up {
      display: block;
    }
  }

  &__features {
    border-top: 1px solid var(--Primary);
    border-bottom: 1px solid var(--Primary);
    padding-block: 2.1rem;
    @include lg-up{
        padding-block: 2.8rem;
    }
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 100%;

    @include md-up {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }

    @include lg-up {
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }
  }

  &__feature {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #333;
    &:first-child {
      @include xl-up{
        width: 380px;
      }
    }
    &:last-child {
      @include xl-up{
        width: 285px;
      }
    }
    @include md-up {
      font-size: 2rem;
      gap: 7px;
    }

    svg {
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      color: #241EC6;
      margin-top: 4px;

      @include md-up {
        width: 20px;
        height: 20px;
      }
    }

    span {
      flex: 1;
    }
  }
  .btns-wrp.mobile-only{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;

    @include md-up {
      display: none;
    }
  }
}
